* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #14213d;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  background-color: #fca311;
  min-height: 50vh;
  width: 50vh;
  padding: 2rem;
  border: none;
  border-radius: 1rem;
}

h2 {
  text-align: center;
}

form {
  margin-top: 2rem;
}

form input,
select,
button {
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  outline: none;
}

form p {
  font-size: 1.2rem;
  font-weight: bold;
}

form input {
  margin-top: 0.5rem;
  height: 3rem;
  font-size: 1.3rem;
  padding-left: 0.5rem;
  border: 1px solid black;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.dropdown i {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
}

.select-container img {
  max-width: 3rem;
}

.select-container select {
  font-size: 1.2rem;
  width: auto;
  border: 1px solid black;
  height: 1.9rem;
}

.msg {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
}

.btn {
  margin-top: 2rem;
  height: 3rem;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
  color: white;
  background-color: #14213d;
}
